@keyframes bg_light{
0% {background: hsl(255, 100%, 90%)}
50% {background: hsl(128, 100%, 90%)}
100% {background: hsl(0, 100%, 90%)}
}

@keyframes bg_dark{
0% {background: hsl(255, 85%, 75%)}
50% {background: hsl(128, 85%, 75%)}
100% {background: hsl(0, 85%, 75%)}
}

.full{position: absolute; height:100vh; width: 100vw; top:0; left: 0; padding: 0; margin: 0; animation: bg_light 360s both paused;}
[name=lang]{display: none}
@media (prefers-color-scheme: dark) {body{filter: invert(100%);}}
@media (display-mode: fullscreen){#display:target > #fill{position: absolute; height:100vh; width: 100vw; top:0; left: 0; z-index:777}}
@media print{#menu, .tabs > :not(#print){display: none !important;}}
@media not print{
	.tabs{display: none;}
	.tabs:target{display: block;width: 100%;}
	#cards:target{
		display: grid;
		grid-template-columns: 1fr 3fr;
		grid-template-rows: 5em 1fr;
		height: 90%;
		}
	#Print{
		grid-row: 2;
		grid-column: 2;
		overflow-x: auto;
		}
}
#cards_menu{
	grid-row: 1;
	grid-column: 1 / 3;
	animation: bg_dark 360s both paused;
	padding: 2px;
	}
#tpl{
	grid-row: 2;
	grid-column: 1;
	border-right: 3px #55a solid;
	overflow-y: auto;
	}
#menu{
	display: grid;
	grid-auto-flow: column;
	text-align: center;
	animation: bg_light 360s both paused;
	font: 20px bold;
	}
.snippet{
	visibility: visible;
	display: block;
	white-space: pre;
	min-height: 3em;
	border: 3px solid #339;
	}
.style1, .style2, .style3, .style4{
	border: 1px #000 solid;
	padding: 5px;
	margin: 3px;
	text-align: center;
	font-size: 20px;
	border-radius: 15px;
	}
.snippet:focus{border: 3px solid #99f; box-shadow: 0 7 10px 5px blue;}

	.f{display: flex;}
	.b{display: block;}
	.b-ib{display: block;} .b-ib > *{display: inline-block;}
	.g1c{display: grid; grid-template-columns: repeat(1, 1fr);}
	.g2c{display: grid; grid-template-columns: repeat(2, 1fr);}
	.g3c{display: grid; grid-template-columns: repeat(3, 1fr);}
	.g4c{display: grid; grid-template-columns: repeat(4, 1fr);}
	.g5c{display: grid; grid-template-columns: repeat(5, 1fr);}
	.g6c{display: grid; grid-template-columns: repeat(6, 1fr);}
	.g7c{display: grid; grid-template-columns: repeat(7, 1fr);}
	.g8c{display: grid; grid-template-columns: repeat(8, 1fr);}
	.dg{
		display: grid;
		grid-template-columns: repeat(2400, 1fr);
		grid-auto-flow: dense;
		overflow-x: auto;
	} /* Gantt chart | диаграмма Ганта */
	.diagram{display: grid; grid-template-columns: repeat(100, 1fr);}

.t1{font-size: 1.4em;}
.uii{grid-column: 1}
.uil{grid-column: span 2 / 4}
#sf{ grid-auto-flow: dense; grid-gap: .5em; padding: 3em; margin: 5em;}
.horizont{display: block flex; overflow-x: auto}
.message, .message2, .message3, .message4, .message5, .message6, #menu > *{
	animation: bg_dark 360s both paused;
	margin: 15px;
	padding: 10px;
	border-radius: 15px;
	box-shadow: 0 7px 10px 5px rgba(0,0,0, .4);
	transition: all ease-out 0.1s;
}
.message2{animation: bg_dark 360s both -60s paused;}
.message3{animation: bg_dark 360s both -120s paused;}
.message4{animation: bg_dark 360s both -180s paused;}
.message5{animation: bg_dark 360s both -240s paused;}
.message6{animation: bg_dark 360s both -300s paused;}
#info .message:hover, #menu > *:hover{
	transform: scale(1.1);
	box-shadow: 0 7px 10px 5px rgba(0,0,0, .6);
	background: rgba(256, 256, 256, 0.4);
}
