[name=lang]{display: none;}
*{scrollbar-width: thin;}
#b, #q, .tabs{
	padding: 0;
	margin: 0;
}@keyframes back{
	00% {background: hsl(255, 100%, 90%)}
	01% {background: hsl(255, 65%, 60%)}
	02% {background: hsl(255, 55%, 65%)}
	03% {background: hsl(255, 70%, 60%)}
	04% {background: hsl(255, 55%, 45%)}
	05% {background: hsl(255, 100%, 90%)}
	50% {background: hsl(128, 100%, 90%)}
	100% {background: hsl(0, 100%, 90%)}
}@keyframes ux{
	00% {background: hsl(255, 65%, 70%)}
	01% {background: hsl(255, 100%, 80%)}
	02% {background: hsl(255, 75%, 85%)}
	03% {background: hsl(255, 50%, 65%)}
	04% {background: hsl(255, 65%, 75%)}
	05% {background: hsl(255, 85%, 75%)}
	50% {background: hsl(128, 85%, 75%)}
	100% {background: hsl(0, 85%, 75%)}
}
.message, .message2, .message3, .message4, .message5, .message6, .message7, #menu > *{
	animation: ux 100s linear both paused;
	margin: 20px;
	padding: 10px;
	border-radius: 15px;
	box-shadow: 0 7px 10px 5px rgba(0,0,0, .4);
	transition: all ease-out 0.1s;
}
.message2{animation-delay: -0s;}
.message3{animation-delay: -20s;}
.message4{animation-delay: -40s;}
.message5{animation-delay: -60s;}
.message6{animation-delay: -80s;}
.message7{animation-delay: -100s;}
.full{
	animation: back 100s linear both paused;
	position: absolute;
	height: 100vh;
	width: 100vw;
	top: 0;
	left: 0;
}
.full, .message,  #menu > *{animation-delay: -5s;}
#q{display: grid;}
.tabs:target{overflow: auto;}
@media (prefers-color-scheme: dark) {body{filter: invert(100%);}}
@media print{#q > *:not(#canvas){display: none;}}
@media not print{
	#q{grid-template: 5em 1fr / 1fr 4fr;}
	#q > .tabs:target{grid-column: 2;}
	#q > .tabs:not(:target), #canvas:not(:target){display: none;}
}
@media (display-mode: fullscreen){
	#b>#q{grid-template: 1fr / 1fr;}
	#q > .tabs:target{grid-column: 1;}
	#q > .UX{display: none}
}
#LP{
	grid-column: 1;
	grid-row: 1/ span 2;
	border-right: 3px #55a solid;
	}
#menu{
	grid-column:2;
	grid-row: 1;
	display: grid;
	grid-auto-flow: column;
	text-align: center;
	font: 20px bold;
	}
.snippet{
	visibility: visible;
	display: block;
	white-space: pre;
	min-height: 3em;
	border: 3px solid #339;
	}
.snippet:focus{border: 3px solid #99f;}
.t1{font-size: 1.4em;}
#sf label{padding: .3em;}
.span{grid-column: span 2;}
.f{display: flex;}
.b{display: block;}
.b-ib{display: block;} .b-ib > *{display: inline-block;}
.gaf{display: grid; grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));}
.g1c{display: grid; grid-template-columns: repeat(1, 1fr);}
.g2c{display: grid; grid-template-columns: repeat(2, 1fr);}
.g3c{display: grid; grid-template-columns: repeat(3, 1fr);}
.g4c{display: grid; grid-template-columns: repeat(4, 1fr);}
.g5c{display: grid; grid-template-columns: repeat(5, 1fr);}
.g6c{display: grid; grid-template-columns: repeat(6, 1fr);}
.g7c{display: grid; grid-template-columns: repeat(7, 1fr);}
.diagram{display: grid; grid-template-columns: repeat(100, 1fr);}
	.dg{
		display: grid;
		grid-template-columns: repeat(2400, 1fr);
		grid-auto-flow: dense;
		overflow-x: auto;
	} /* Gantt chart | диаграмма Ганта */
.horizont{display: block flex; overflow-x: auto}
#changes .message:hover, #author .message:hover, #menu > *:hover{
	transform: scale(1.1);
	box-shadow: 0 7px 10px 5px rgba(0,0,0, .6);
	filter: brightness(135%);
}
