/* просто потому что могу. в конце концов, так даже удобнее :3 */
#en:checked ~ *{--loc_delay: -0s;}
#ru:checked ~ *{--loc_delay: -1s;}


#canvas{
--en: 'canvas';
--ru: 'холст';
}
#author{
--en: 'author';
--ru: 'автор';
}
#settings{
--en: 'setting`s';
--ru: 'настройки';
}
#changes{
--en: 'change log';
--ru: 'история изменений';
}
#info{
--en: 'information';
--ru: 'информация';
}

#hue{
--en: 'color selector';
--ru: 'Hue`верть почти как в старом, добром AIMP только круче :3';
}
#saturate{
--en: 'saturate';
--ru: 'насыщенность';
}
#brightness{
--en: 'brightness';
--ru: 'яркость';
}

#day{
--en: 'day style';
--ru: 'дневная тема';
}
#night{
--en: 'night style';
--ru: 'ночная тема';
}

#langs{
--en: 'language selector';
--ru: 'выбор языка';
}


@keyframes loc{
0%{content: attr(id)}
to{content: var(--ru);}
}
.local:after{
content: '';
animation: loc 1s linear both paused;
animation-delay: var(--loc_delay);
}
